.navbar {
    display: flex;
    width: 60%; padding-left: 2rem;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -1rem;
}
.navbar ul li {
    list-style: none;
    margin-right: 5rem;
}

.navbar h2 span , .active{
    color: #51bcc2;
}
.active {
    margin-left: 7rem;
}

